@font-face {
    font-family: "Fraunces";
    src: url(../fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
    font-weight: 200 800;
    font-style: normal;
}

:root {
    --clr-green: hsl(150, 100%, 63%);
    --clr-purlpe-900: hsl(273, 85%, 13%);
    --clr-purlpe-500: hsl(271, 12%, 34%);
    --clr-purlpe-100: hsl(276, 100%, 99%);
    --clr-white: hsl(0, 0%, 100%);

    --ff-title: "Fraunces";
    --ff-text: "Manrope";

    --fs-h1: 48px;
    --fs-h2: 32px;
    --fs-h3: 24px;
    --fs-num: 20px;
    --fs-cta: 18px;
    --fs-text: 16px;

    --fw-title: 600;
    --fw-normal: 400;
    --fw-bold: 700;

    --lh-h1: 100%;
    --lh-h2: 120%;
    --lh-text: 180%;

    --spc-3700: 296px;
    --spc-2100: 168px;
    --spc-1800: 144px;
    --spc-1600: 128px;
    --spc-1400: 112px;
    --spc-1100: 88px;
    --spc-1000: 80px;
    --spc-800: 64px;
    --spc-700: 56px;
    --spc-550: 44px;
    --spc-500: 40px;
    --spc-400: 32px;
    --spc-350: 28px;
    --spc-300: 24px;
    --spc-250: 20px;
    --spc-200: 16px;
    --spc-150: 12px;
    --spc-100: 8px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "main"
        "footer";
    min-height: 100vh;
    font-family: var(--ff-text);
    font-size: var(--fs-text);
    font-weight: var(--fw-normal);
    line-height: var(--lh-text);
    color: var(--clr-purlpe-900);
    background-color: var(--clr-white);
}

img {
    display: block;
    max-width: 100%;
}

.container {
    --_p: var(--spc-250);
    padding-inline: var(--_p);
    margin-inline: auto;
    max-width: calc(1120px + (2 * var(--_p)));
}

.button {
    padding: var(--spc-150) var(--spc-400);
    background-color: var(--clr-green);
    border: 2px solid var(--clr-green);
    font-family: var(--ff-text);
    font-size: var(--fs-text);
    font-weight: var(--fw-bold);
    color: var(--clr-purlpe-900);
    cursor: pointer;
    transition: color 250ms ease-in-out,
        background-color 250ms ease-in-out;
}

.button:hover,
.button:focus-visible {
    color: var(--clr-green);
    background-color: transparent;
}

/** MAIN */
.header {
    background-color: var(--clr-purlpe-900);
}

.container--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--spc-400);
}

.header__logo {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 97px;
    height: 26px;
    background-image: url(../images/logo-light.svg);
    background-repeat: no-repeat;
}

.header__cta {
    display: block;
    height: 35px;
    border-bottom: 3px solid var(--clr-green);
    font-size: var(--fs-cta);
    font-weight: var(--fw-bold);
    color: var(--clr-white);
    text-decoration: none;
    transition: color 250ms ease-in-out;
}

.header__cta:hover,
.header__cta:focus-visible {
    color: var(--clr-green);
}

.hero {
    background-color: var(--clr-purlpe-900);
}

.container--hero {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding-block: var(--spc-700);
}

.hero__title {
    font-family: var(--ff-title);
    font-size: var(--fs-h1);
    font-weight: var(--fw-title);
    line-height: var(--lh-h1);
    font-variation-settings: "opsz" 144;
    color: var(--clr-white);
    text-align: center;
}

.hero__title em {
    font-style: normal;
    text-decoration: underline solid var(--clr-green) 3px;
    text-underline-offset: 6px;
}

.hero-image {
    display: grid;
    grid-template-areas:
        "dark"
        "curve"
        "light";
    grid-template-rows: 1fr auto 1fr;
    isolation: isolate;
}

.hero-image__dark {
    grid-area: dark;
    background-color: var(--clr-purlpe-900);
}

.hero-image__light {
    grid-area: light;
    background-color: var(--clr-purlpe-100);
}

.hero-image__curve {
    grid-area: curve;
    grid-column: 1 / -1;
}

.hero-image__curve--light {
    fill: var(--clr-purlpe-100);
}

.hero-image__curve--dark {
    fill: var(--clr-purlpe-900);
}

.hero__image {
    z-index: 1;
    width: min(90%, 767px);
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    place-self: center;
}

.values {
    background-color: var(--clr-purlpe-100);
}

.container--values {
    display: flex;
    flex-direction: column;
    gap: var(--spc-400);
    padding-block: var(--spc-800);
}

.values__item {
    display: flex;
    flex-direction: column;
    gap: var(--spc-300);
    align-items: center;
}

.value__number {
    font-family: var(--ff-title);
    font-size: var(--fs-num);
    font-weight: var(--fw-title);
    font-variation-settings: "opsz" 144;
    line-height: 48px;
    aspect-ratio: 1;
    text-align: center;
    border: 1px solid var(--clr-purlpe-900);
    border-radius: 50%;
}

.value__info {
    display: flex;
    flex-direction: column;
    gap: var(--spc-200);
    align-items: center;
}

.value__title {
    font-family: var(--ff-title);
    font-size: var(--fs-h3);
    font-weight: var(--fw-title);
    font-variation-settings: "opsz" 144;
    line-height: var(--lh-h2);
}

.value__text {
    text-align: center;
}

.values-curve__curve--white {
    fill: var(--clr-white);
}

.values-curve__curve--light {
    fill: var(--clr-purlpe-100);
}

/** CUSTOM FOOTER */

.custom_footer {
    grid-area: footer;
    margin-top: auto;
    padding: 2rem 1rem;
    background-color: var(--clr-purlpe-900);
}

.custom_footer__github,
.custom_footer__info {
    text-align: center;
    color: var(--clr-purlpe-100);
}

.custom_footer__github {
    margin-bottom: 1rem;
}

.custom_footer__link {
    color: var(--clr-green);
    text-decoration: none;
}

.custom_footer__link:hover,
.custom_footer__link:focus-visible {
    text-decoration: underline;
}